*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    justify-content: center;
    align-items: center;
    display: flex;
    background: #dee1e2;
    min-height: 100vh;
    overflow-x: hidden;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 140px;
    background: #fff;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    box-shadow: 0 15px 15px rgb(0, 0, 0,0.05);
}
.logo{
    color: rgb(59, 115, 236);
    text-decoration: none;
    font-size: 3.5em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.90em;
}
.navigator nav  a{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}
.navigator nav .userlogin{
    width: 130px;
    height: 50px;
    background: transparent
    border 2px solid #4f7cf8;
    outline: none;
    border-radius: 60px;
    cursor: pointer;
    font-size: 1.1em;
    color: #439bff;
    margin-left: 40px;
    font-weight: 500;
    transition: .5s;
}
.navigator nav .userlogin:hover{
    background: #439bff;
    color: #ffffff;

}
nav{
    transition: 0.5s;
    text-align:center;
    width: 100%;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
    height: 60px;
    position: relative;
    border-radius: 60px;
    
  }
nav ul {
    
    background-color: #ffffff;
    display: inline-flex;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
nav ul li {
    transition: .65s;
    border-radius: 30px;
    display: inline-block;
  }
  
nav ul li a {
    border-radius: 30px;
    color:#439bff;
    padding:0px 60px;
    text-decoration:none;
    line-height: 60px;
    font-size: 40px;
  }
.dropdown {
    display: none;
    position: absolute;
  }
nav ul li:hover {
    background: #439bff;
  }
   
nav ul li:hover > a{
      color:#ffffff;
      height: 60px;
  }
   
nav ul li:hover .dropdown{
    background: #ece2e2;
    display: block;
    position: absolute;
  }
   
 nav ul li:hover .dropdown ul{
    display: flex;
    flex-direction: column;
  }
.wrapper{
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255,255,255,5);
    border-radius: 30px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(0,0,0,5);
  }





